@charset "UTF-8";
/* importer les polices */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
/* mise en place des couleurs */
/* couleur shadow boutons */
/* couleur shadow boutons au survol */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

body {
  background-color: #ebebeb;
}

header {
  background-color: #fff;
}
header i {
  position: absolute;
  font-size: 30px;
  left: 25px;
  top: 35px; /* height header = 100px; font-size = 30px; 100/2-30/2 = 35px */
}

h1 {
  font-family: "Shrikhand", sans-serif;
}

/* image haut */
.image-haut {
  width: 100%;
  height: 400px;
}
.image-haut img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* menu */
.menu {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  padding: 25px;
  background-color: #ebebeb;
  position: relative;
  top: -50px;
}

/* titre menu */
.menu-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-titre i {
  font-size: 38px;
}

.menu-sous-titre {
  margin-top: 50px;
  animation-name: animation-menus;
  animation-duration: 3000ms;
}
.menu-sous-titre > p {
  width: 50px;
  border-bottom: solid 5px #99E2D0;
}

/* cards menu */
.cards-menu {
  height: 100px;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 10px 25px #b3b3b3;
  animation-name: animation-menus;
  animation-duration: 3000ms;
  overflow: hidden; /* cacher ce qui sort de la card lors de l'animation */
}
.cards-menu:hover .cards-menu-texte {
  transition: margin 1000ms; /* créer transition de margin-right pour suivre l'animation et réduire la taille des textes */
  margin-right: 0px;
}
.cards-menu:hover .cards-menu-prix {
  animation-name: animation-logo;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.cards-menu:hover .cards-menu-prix > .icone > i {
  animation-name: rotation-logo;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.entree {
  animation-delay: 0ms;
  animation-fill-mode: both;
}

.plat {
  animation-delay: 2000ms;
  animation-fill-mode: both;
}

.dessert {
  animation-delay: 4000ms;
  animation-fill-mode: both; /*pour qu'avant l'anim l'opacité soit égale à 0 et égale à 1 après l'anim */
}

/* animation apparition des menus lors du chargement de la page */
@keyframes animation-menus {
  0% {
    opacity: 0; /* démarrer invisible... */
    transform: translateY(50px); /* démarrer à 50px sud... */
  }
  100% {
    opacity: 1; /* ...pour finir totalement visible */
    transform: translateY(0); /* ...pour finir à la position d'origine Y = 0 */
  }
}
/* couper le texte cacher et mettre points de suspension */
.cards-menu-texte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -65px; /* agrandir la largeur droite de 65px pour compenser le décalage du prix */
}
.cards-menu-texte h2, .cards-menu-texte p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards-menu-prix {
  width: 130px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  transform: translateX(65px); /*placer le prix à 65px vers la droite au départ pour cacher le logo */
}
.cards-menu-prix > p {
  width: 65px;
  height: 80%;
  padding-right: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.cards-menu-prix > .icone {
  height: 100%;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  background-color: #99E2D0;
}
.cards-menu-prix > .icone > i {
  font-size: 32px;
  color: #fff;
}

/* animation apparition logo sur cards */
@keyframes animation-logo {
  0% {
    transform: translate(65px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
/* animation rotation logo */
@keyframes rotation-logo {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* bouton commander */
.commander {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.commander button {
  padding: 25px 50px;
  border-radius: 50px;
  border: none;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  color: #fff;
  box-shadow: 5px 10px 25px #b3b3b3;
  transition: all 500ms;
}
.commander button:hover {
  background: linear-gradient(350deg, #a16be0, #ff93e1);
  box-shadow: 5px 10px 25px #666666;
}

/*# sourceMappingURL=styles-pages.css.map */
