@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@keyframes animation-coeur {
  0% {
    font-weight: initial;
  }
  25% {
    font-weight: bold; /* pour remplir l'icone */
    background: linear-gradient(180deg, #f7f7f7 75%, #FF79DA); /* le blanc occupe 75% de l'espace */
    color: #fff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /*fit background au text */
  }
  50% {
    font-weight: bold; /* pour remplir l'icone */
    background: linear-gradient(180deg, #f7f7f7 50%, #FF79DA); /* le blanc occupe 50% de l'espace */
    color: #fff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /*fit background au text */
  }
  75% {
    font-weight: bold; /* pour remplir l'icone */
    background: linear-gradient(180deg, #f7f7f7 25%, #FF79DA); /* le blanc occupe 25% de l'espace */
    color: #fff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /*fit background au text */
  }
  100% {
    font-weight: bold; /* pour remplir l'icone */
    background: linear-gradient(180deg, #9356DC 25%, #FF79DA); /* la couleur primaire a remplacé le blanc */
    color: #fff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text; /*fit background au text */
  }
}
.btn, .commander button {
  border-radius: 50px;
  border: none;
  background: linear-gradient(350deg, #9356DC, #FF79DA);
  color: #f7f7f7;
  box-shadow: 5px 10px 25px #b3b3b3;
  transition: all 500ms;
}
.btn:hover, .commander button:hover {
  background: linear-gradient(350deg, #a16be0, #ff93e1);
  box-shadow: 5px 10px 25px #666666;
}

@keyframes animation-menus {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.entree {
  animation-delay: 0ms;
  animation-fill-mode: both;
}

.plat {
  animation-delay: 1500ms;
  animation-fill-mode: both;
}

.dessert {
  animation-delay: 3000ms;
  animation-fill-mode: both;
}

@keyframes animation-logo {
  0% {
    transform: translate(65px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes rotation-logo {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(0);
  }
}
@media all and (min-width: 992px) {
  .filtres {
    max-width: 50%;
  }
}
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

body {
  background-color: #f7f7f7;
}

header i {
  position: absolute;
  font-size: 30px;
  left: 25px;
  top: 35px; /* height header = 100px; font-size = 30px; 100/2-30/2 = 35px */
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}

/* image haut */
.image-haut {
  width: 100%;
  height: 400px;
}
.image-haut img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* menu */
.menu {
  width: 100%;
  border-radius: 50px 50px 0px 0px;
  padding: 25px;
  background-color: #f7f7f7;
  position: relative;
  top: -50px;
}

/* titre menu */
.menu-titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-titre i {
  font-size: 38px;
}
.menu-titre i:hover {
  animation-name: animation-coeur;
  animation-duration: 1500ms;
  animation-fill-mode: both;
}

.menu-sous-titre {
  margin-top: 50px;
  animation-name: animation-menus;
  animation-duration: 3000ms;
}
.menu-sous-titre > p {
  width: 50px;
  border-bottom: solid 5px #99E2D0;
}

/* cards menu */
.cards-menu {
  height: 100px;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 25px;
  padding-left: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 5px 15px #d9d9d9;
  animation-name: animation-menus;
  animation-duration: 3000ms;
  overflow: hidden; /* cacher ce qui sort de la card lors de l'animation */
}
.cards-menu:hover .cards-menu-texte {
  transition: margin 1000ms; /* créer transition de margin-right pour suivre l'animation et réduire la taille des textes */
  margin-right: 0px;
}
.cards-menu:hover .cards-menu-prix {
  animation-name: animation-logo;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.cards-menu:hover .cards-menu-prix > .icone > i {
  animation-name: rotation-logo;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

/* couper le texte cacher et mettre points de suspension */
.cards-menu-texte {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: -65px; /* agrandir la largeur droite de 65px pour compenser le décalage du prix */
}
.cards-menu-texte h2, .cards-menu-texte p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cards-menu-prix {
  width: 130px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  transform: translateX(65px); /*placer le prix à 65px vers la droite au départ pour cacher le logo */
}
.cards-menu-prix > p {
  width: 65px;
  height: 80%;
  padding-right: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.cards-menu-prix > .icone {
  height: 100%;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 25px 25px 0px;
  background-color: #99E2D0;
}
.cards-menu-prix > .icone > i {
  font-size: 32px;
  color: #fff;
}

/* bouton commander */
.commander {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.commander button {
  padding: 25px 50px;
}

/*# sourceMappingURL=styles-pages.css.map */
