/* importer les polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* mise en place des couleurs */
$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Tertiaire: #99E2D0;
$Shadow: darken(#fff, 30); /* couleur shadow boutons */
$Shadow-survol: darken(#fff, 60); /* couleur shadow boutons au survol */

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

/* retirer décorations des liens */
a {
    color: #000;
    &:link {
        text-decoration: none;
    }
    &:visited {
        color: #000;
    }
}

/* loading spinner */
.spinner {
    width: 100%;
    height: 100%;
    background: linear-gradient(350deg, $Primaire, $Secondaire);
    position: absolute;
    top: 0px;
    animation-name: load-spin;
    animation-duration: 3000ms;
    animation-fill-mode: both;
    animation-delay: 0ms;
    .spinner-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 75%;
            margin-bottom: 50px;
        }
        .icone-container {
            animation-name: load-spin-logo;
            animation-duration: 2000ms;
            animation-fill-mode: both;
            animation-delay: 500ms;
            width: 80px;
            height: 80px;
            background-color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            > i {
                font-size: 48px;
            }
        }
    }
}

/* animations spinner */
@keyframes load-spin {
    90% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes load-spin-logo {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    height: 100px;
}

/* logo */
.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 60%;
}

/* partie localisation */
.localisation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    background-color: darken(#fff, 25);
    form {
        width: fit-content;
        display: flex;
        flex-direction: row;
    }
    i {
        margin: 0px 25px;
    }
}

#placeholder {
    width: fit-content;
    border: none;
    background-color: darken(#fff, 25);;
}

/* partie réservez */
#reservez {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0% 15%;
    background-color: darken(#fff, 10);
    h1 {
        margin: 50px 0px;
    }
    button {
        margin: 50px 0px;
        padding: 25px;
        border-radius: 50px;
        border: none;
        background: linear-gradient(350deg, $Primaire, $Secondaire);
        color: #fff;
        box-shadow: 5px 10px 25px $Shadow;
        transition: all 500ms;
        &:hover {
            background: linear-gradient(350deg, lighten($Primaire, 5), lighten($Secondaire, 5));
            box-shadow: 5px 10px 25px $Shadow-survol;
        }
    }
}

/* partie fonctionnement */
#fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
}

/* filtres */
.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}

#filtres-titre {
    margin-left: 25px;
}

.numero-filtres {
    position: absolute;
    width: 50px;
    height: 50px; 
    background-color: $Primaire;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    width: 100%;
    padding-left: 50px;
    border-radius: 25px;
    background-color: darken(#fff, 10);
    transition: all 500ms;
    i {
        color: lighten(#000, 50 ); /* couleur noire moins sombre de 50% */
    }
    &:hover {
        background-color: lighten($Primaire, 30);
        i {
            color: $Primaire; /* hover -> changer la couleur de l'icone */
        }
    }
}

.nom-filtres {
    margin-left: 25px;
}

/* partie restaurants */
#restaurants {
    padding: 25px 0px;
    background-color: darken(#fff, 10);
}

.contenair-cards {
    margin: 0px 25px;
}

/* cards */
.card {
    width: 100%;
    height: 400px;
    margin: 25px 0px;
    border-radius: 25px;
    background-color: #fff;
    a {
        width: 100%;
        height: 100%;
    }
}

.image-card {
    height: 66%;
    display: flex;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }
}

/* logo "nouveau" en haut à droite de la card */
.nouveau {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 125px;
    height: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darken($Tertiaire, 30);
    background-color: $Tertiaire;
}

.body-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px;
}

/* logo coeur en bas à droite */
.partie-droite {
    i {
        font-size: 38px;
        &:hover {
            animation-name: animation-coeur;
            animation-duration: 1500ms;
            animation-fill-mode: both;
        }
    }
}

/* animation logo coeur */
@keyframes animation-coeur {
    0% {
        font-weight: initial; 
    }
    25% {
        font-weight: bold; /* pour remplir l'icone */
        background: linear-gradient(180deg, #fff 75%, $Secondaire); /* le blanc occupe 75% de l'espace */
        color: #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /*fit background au text */
    }
    50% {
        font-weight: bold; /* pour remplir l'icone */
        background: linear-gradient(180deg, #fff 50%, $Secondaire); /* le blanc occupe 50% de l'espace */
        color: #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /*fit background au text */
    }
    75% {
        font-weight: bold; /* pour remplir l'icone */
        background: linear-gradient(180deg, #fff 25%, $Secondaire); /* le blanc occupe 25% de l'espace */
        color: #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /*fit background au text */
    }
    100% {
        font-weight: bold; /* pour remplir l'icone */
        background: linear-gradient(180deg, $Primaire 25%, $Secondaire); /* la couleur primaire a remplacé le blanc */
        color: #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /*fit background au text */
    }
}

/* footer */
.footer {
    padding: 0px 0px 25px 25px;
    background-color: #fff;
    filter: invert(95%); /* inverser les couleurs */
}

.logo-footer {
    width: 50%;
    padding: 25px 0px;
}

.menu-footer-ligne {
    margin: 5px 0px;
    i {
        margin-right: 5px;
    }
}