/* importer les polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/* importer les fichiers sass */
@import "assets/couleurs", "assets/anim-coeur", "assets/class-btn", "assets/spinner";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

/* retirer décorations des liens */
a {
    color: #000;
    &:link {
        text-decoration: none;
    }
    &:visited {
        color: #000;
    }
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    height: 100px;
    background-color: #fff;
}

/* logo */
.container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    > img {
        width: 60%;
    }
}

/* partie localisation */
.localisation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    background-color: $blanc-casse-2;
    form {
        width: fit-content;
        display: flex;
        flex-direction: row;
    }
    i {
        margin: 0px 25px;
    }
}

#placeholder {
    width: fit-content;
    border: none;
    background-color: $blanc-casse-2;
}

/* partie réservez */
#reservez {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0% 15%;
    background-color: $blanc-casse;
    h1 {
        margin: 50px 0px;
    }
    button {
        margin: 50px 0px;
        padding: 25px;
        @extend .btn;
    }
}

/* partie fonctionnement */
#fonctionnement {
    display: flex;
    flex-direction: column;
    padding: 25px 0px;
}

/* filtres */
.filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px;
}

#filtres-titre {
    margin-left: 25px;
}

.numero-filtres {
    position: absolute;
    left: 35px; /* margin 2*25 - width 30/2 = 35px */
    width: 30px;
    height: 30px; 
    background-color: $primaire;
    color: $blanc-casse;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-filtres {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25px;
    width: 100%;
    padding-left: 50px;
    border-radius: 25px;
    background-color: $blanc-casse;
    transition: all 500ms;
    i {
        color: lighten(#000, 50 ); /* couleur noire moins sombre de 50% */
    }
    &:hover {
        background-color: lighten($primaire, 30);
        i {
            color: $primaire; /* hover -> changer la couleur de l'icone */
        }
    }
}

.nom-filtres {
    margin-left: 25px;
}

/* partie restaurants */
#restaurants {
    padding: 25px 0px;
    background-color: $blanc-casse;
}

.contenair-cards {
    margin: 0px 25px;
}

/* cards */
.card {
    width: 100%;
    height: 400px;
    margin: 25px 0px;
    border-radius: 25px;
    background-color: #fff;
    a {
        width: 100%;
        height: 100%;
    }
}

.image-card {
    height: 66%;
    display: flex;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }
}

/* logo "nouveau" en haut à droite de la card */
.nouveau {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 125px;
    height: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darken($tertiaire, 30);
    background-color: $tertiaire;
}

.body-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px;
}

/* logo coeur en bas à droite */
.partie-droite {
    i {
        font-size: 38px;
        &:hover {
            animation-name: animation-coeur;
            animation-duration: 1500ms;
            animation-fill-mode: both;
        }
    }
}

/* footer */
.footer {
    padding: 0px 0px 25px 25px;
    background-color: $blanc-casse;
    filter: invert(95%); /* inverser les couleurs */
}

.logo-footer {
    width: 50%;
    padding: 25px 0px;
}

.menu-footer-ligne {
    margin: 5px 0px;
    i {
        margin-right: 5px;
    }
}