@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
@import "assets/couleurs", "assets/anim-coeur", "assets/class-btn", "assets/anim-menu", "assets/desktop";

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

body {
    background-color: $blanc-casse;
}

header {
    i {
        position: absolute;
        font-size: 30px;
        left: 25px;
        top: 35px; /* height header = 100px; font-size = 30px; 100/2-30/2 = 35px */
    }
}

h1 {
    font-family: 'Shrikhand', sans-serif;
}

/* image haut */
.image-haut {
    width: 100%;
    height: 400px;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/* menu */
.menu {
    width: 100%;
    border-radius: 50px 50px 0px 0px;
    padding: 25px;
    background-color: $blanc-casse;
    position: relative;
    top: -50px;
}

/* titre menu */
.menu-titre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    i {
        font-size: 38px;
        &:hover {
            animation-name: animation-coeur;
            animation-duration: 1500ms;
            animation-fill-mode: both;
        }
    }
}

.menu-sous-titre {
    margin-top: 50px;
    animation-name: animation-menus;
    animation-duration: 3000ms;
    > p {
        width: 50px;
        border-bottom: solid 5px $tertiaire;
    }
}

/* cards menu */
.cards-menu {
    height: 100px;
    background-color: #fff;
    border-radius: 25px;
    margin-top: 25px;
    padding-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 5px 15px $shadow-2;
    animation-name: animation-menus;
    animation-duration: 3000ms;
    overflow: hidden; /* cacher ce qui sort de la card lors de l'animation */
    &:hover {
        .cards-menu-texte {  
            transition: margin 1000ms; /* créer transition de margin-right pour suivre l'animation et réduire la taille des textes */
            margin-right: 0px; 
        }
        .cards-menu-prix {
        animation-name: animation-logo;
        animation-duration: 1000ms;
        animation-fill-mode: both;
            > .icone > i {
                animation-name: rotation-logo;
                animation-duration: 1000ms;
                animation-fill-mode: both;
            }
        }
    }
}

/* couper le texte cacher et mettre points de suspension */
.cards-menu-texte {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: -65px; /* agrandir la largeur droite de 65px pour compenser le décalage du prix */
    h2, p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.cards-menu-prix {
    width: 130px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    > p {
        width: 65px;
        height: 80%;
        padding-right: 25px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    > .icone {
        height: 100%;
        width: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 25px 25px 0px;
        background-color: $tertiaire;
        > i {
            font-size: 32px;
            color: #fff;
        }
    }
    transform: translateX(65px); /*placer le prix à 65px vers la droite au départ pour cacher le logo */
}

/* bouton commander */
.commander {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    button {
        padding: 25px 50px;
        @extend .btn;
    }
}
