@import "couleurs";

/* animation logo coeur */
@keyframes animation-coeur {
    0% {
        font-weight: initial; 
    }
    25% {
        font-weight: bold; /* pour remplir l'icone */
        background: linear-gradient(180deg, $blanc-casse 75%, $secondaire); /* le blanc occupe 75% de l'espace */
        color: #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /*fit background au text */
    }
    50% {
        font-weight: bold; /* pour remplir l'icone */
        background: linear-gradient(180deg, $blanc-casse 50%, $secondaire); /* le blanc occupe 50% de l'espace */
        color: #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /*fit background au text */
    }
    75% {
        font-weight: bold; /* pour remplir l'icone */
        background: linear-gradient(180deg, $blanc-casse 25%, $secondaire); /* le blanc occupe 25% de l'espace */
        color: #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /*fit background au text */
    }
    100% {
        font-weight: bold; /* pour remplir l'icone */
        background: linear-gradient(180deg, $primaire 25%, $secondaire); /* la couleur primaire a remplacé le blanc */
        color: #fff;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /*fit background au text */
    }
}