@keyframes animation-menus {
    0% {
        opacity: 0; 
        transform: translateY(50px); 
    }
    100% {
        opacity: 1; 
        transform: translateY(0); 
    }
}

.entree {
    animation-delay: 0ms;
    animation-fill-mode: both;
}

.plat {
    animation-delay: 1500ms;
    animation-fill-mode: both;
}

.dessert {
    animation-delay: 3000ms;
    animation-fill-mode: both; 
}

@keyframes animation-logo {
    0% {
        transform: translate(65px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes rotation-logo {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0);
    }
}