$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$shadow: darken(#fff, 30); /* couleur shadow boutons */
$shadow-survol: darken(#fff, 60); /* couleur shadow boutons au survol */
$blanc-casse: darken(#fff, 3);
$blanc-casse-2: darken(#fff, 25);